*{
  margin:0; padding:0; box-sizing:border-box;
  font-family:sans-serif;
}

/* BODY BACKGROUND */
body{
  background-image:url("/images/background-image.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment: fixed;
  height: max-content;
}

/* HEADER */
.header{
  background:#EDEDED;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 50px;
  box-shadow:0 2px 6px rgba(0,0,0,.1);
}

.logo{ color:#789462; }

.nav-links{
  display:flex;
  list-style:none;
  gap:22px;
}

.nav-links a{
  text-decoration:none;
  color:#789462;
  font-weight:500;
}